.listItem {
  max-width: 60%;
  margin: 2rem auto 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
}

.listItem li {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #ebebec;
  position: relative;
}

@media screen and (max-width: 480px) {
  .listItem {
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    max-width: 80%;
  }
}

.close {
  border-radius: 100%;
  background: #e84114;
  width: 15px;
  height: 15px;
  margin: 20px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  top: 0;
  right: 0;
}

.close:after {
  display: inline-block;
  content: "\00d7";
  color: #fff;
  position: relative;
  bottom: 5px;
}
