body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  background: #41d9d2;
}

*,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  background: none;
  border-radius: 0;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

.layout--container {
  max-width: 1140px;
  margin-inline: auto;
  background: #f8f8f7;
}

h1 {
  padding-block-start: 2rem;
}

.theme-color {
  color: #00bcb3;
}

.btn {
  border-radius: 4px;
  border: 1px solid #08b0a8;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.text_center {
  text-align: center;
}

.footer {
  padding-block: 4em 2rem;
}
