h2 {
  margin-block: 4rem 1rem;
  text-align: center;
  color: #609a1d;
}
.foodItems li.disabled {
  background: #de0000;
  text-decoration: line-through;
}

.foodItems {
  display: grid;
  grid-gap: 20px;
  margin-inline: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
}

.foodItems li {
  padding: 2rem;
  border-radius: 4px;
  background: #ebebec;
}

@media screen and (max-width: 480px) {
  .foodItems {
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  }
}
